Resources:
  httpsSecurityGroupIngress:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {"Fn::GetAtt": ["AWSEBSecurityGroup", "GroupId"]}
      IpProtocol: tcp
      FromPort: 443
      ToPort: 443
      CidrIp: 0.0.0.0/0

container_commands:
  01_make_hooks_executable:
    command: "chmod +x .platform/hooks/postdeploy/*.sh .platform/confighooks/postdeploy/*.sh"

option_settings:
  aws:elasticbeanstalk:command:
    Timeout: 1800